@using EntityLayer.concrete;
@model Announcement;
@{
    ViewData["Title"] = "UpdateAnnouncement";
    Layout = "~/Views/Shared/_AdminLoyout.cshtml";
}
<h1>Duyuru Güncelle</h1>
<div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Duyuru Güncelle</h4>
                  <form class="forms-sample" method="post">
                    <div class="form-group">
                      <label for="exampleInputName1">Başlık</label>
                      <input type="text" class="form-control" asp-for="Title" id="exampleInputName1" placeholder="Başlık Giriniz">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail3">Description</label>
                      <textarea cols="30" rows="5" asp-for="Description" class="form-control"></textarea>
                    </div>
                    <button type="submit" class="btn btn-outline-primary">Duyuru Güncelle</button>
                  </form>
                </div>
              </div>
            </div>
